* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.container {
    max-width: 1100px;
    margin: 0 auto;
    position: relative;
    @media (max-width: 1199px) {
        max-width: 960px;
    }
    @media (max-width: 991px) {
        max-width: 720px;
    }
    @media (max-width: 767px) {
        max-width: 540px;
    }
    @media (max-width: 575px) {
        max-width: none;
    }
}

ul {
    list-style: none;
}
section {
    text-align: center;
}
button {
    outline: none;
}